@model SchiftPlanner.Models.Subs.Subscriptions

@{
    ViewData["Title"] = "ManageSub";
}

<h1>ManageSub</h1>

    <form method="get" asp-action="CompanyInfo" asp-controller="Company">
        <input type="hidden" id="Id_Company" name="Id_Company" value="@Model.Id_Company" />
        <button type="submit">Pokaż strone firmy</button>
    </form>

<br />
<br />
<br />

<form method="get" asp-action="ManageCompanyInfo" asp-controller="Company">
    <input type="hidden" name="Id_Company" value="@Model.Id_Company" />
    <button type="submit">Zarządzaj stroną firmy</button>
</form>

<br />
<br />
<br />

<form method="get" asp-action="ManageOpinions" asp-controller="Company">
    <input type="hidden" name="Id_Company" value="@Model.Id_Company" />
    <button type="submit">Zarządzaj opiniami</button>
</form>



<br />
<br />
<br />

<form method="get" asp-action="GetQrCodeForCompanySite" asp-controller="Company">
    <input type="hidden" name="Id_Company" value="@Model.Id_Company" />
    <button type="submit">Uzyskaj qrcode przekierowywujący na stronę firmy</button>
</form>

<br />
<br />
<br />

@if (ViewBag.CompanyType == 1)
{
    <form method="get" asp-action="ManageCustomer_TimeTables" asp-controller="Type1">
        <input type="hidden" name="Id_Company" value="@Model.Id_Company" />
        <button type="submit">Zarządzaj planami pracowników</button>
    </form>
}
else if (ViewBag.CompanyType == 2)
{
    <form method="get" asp-action="ManageCustomer_TimeTables" asp-controller="Type2">
        <input type="hidden" name="Id_Company" value="@Model.Id_Company" />
        <button type="submit">Zarządzaj planami klientów</button>
    </form>
}

<br />
<br />
<br />


@{
    <div>
        @Model.Id_Company
        @Model.Id_User
        @Model.Id_Sub
        @Model.StartDate
        @Model.EndDate
        @Model.AutoRenew


    
    
    </div>
}


<br />
<br />
<br />
<br />
<br />
<br />


@if(Model.AutoRenew)
{
             <form method="post" asp-action="ChangeAutoRenew" asp-controller="Subs">
        <input type="hidden" name="Id_Company" value="@Model.Id_Sub" />
            <button type="submit">Wyłącz odnawianie</button>
        </form>
}
else
{
    <form method="post" asp-action="ChangeAutoRenew" asp-controller="Subs">
        <input type="hidden" name="Id_Company" value="@Model.Id_Sub" />
        <button type="submit">Włącz odnawianie</button>
    </form>
}







<br />
<br />
<br />


     <form method="post" asp-action="CancelSubscription" asp-controller="Subs">
    <input type="hidden" name="Id_Company" value="@Model.Id_Sub" />
        <button type="submit">Anuluj subskrypcje</button>
    </form>


